<h1>
    Welcome to the Admin Panel
</h1>

<p>
    This is the admin panel. Here you can manage the products of your ecommerce/store.
</p>
<h2>
    <%= link_to 'Add an item', new_item_path %>
</h2>

<h2>
    <%= link_to 'View all items', items_path %>

</h2>
