<nav class="navbar">
    <p>
        sal fina
    </p>

    <input type="text" placeholder="search">    
    <button>search</button>

    <ul>
        <li><%=  link_to 'home', '/home' %></li>
        <li><%=  link_to 'about', '/about' %></li>
        <li><%=  link_to 'contact', '/contact' %></li>
    </nav> 

  <%=  link_to 'index', '/products'%>
